*
{
	padding: 0;
	margin: 0;
}

body
{
	background: rgb(221,160,221);
	font-family: Helvetica,Arial,sans-serif;
}

.corpo
{
	padding: 200px;
	height: 500px;
}

.corpo h1
{
	font-size: 70px;
	padding-bottom: 30px;
	-webkit-text-stroke: 1px white; 
}

.divisor
{
	color: white;
}

.cardtitulo
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: bold;
	font-size: 25px;	
}

.carroimg
{
	width: 895px; 
	height: 320px;
}

/* Nav */

.navLogo
{
	color:white;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 25px;
}
.navItem
{
	
	color: white;
	padding-right: 25px;
	
}

.navItem:hover
{
	color: rgb(45, 182, 206);
	text-decoration: none;
}

#imgLogo
{
	margin: 5px 0px 5px 0px;
	height: 40px;
}

nav
{
	background: rgba(0,0,0,0.6);
}


/*Footer*/

.imgFooter
{
	max-width: 80%;
	max-height: 80%;
}

footer
{
	padding-top:30px; 
	background: black;
	color: white;

	
}

.list-foot
{
	font-size: 15px;
}

.list-foot li
{
	margin-bottom: 15px;
	color: gray;
}

ul {
  list-style-type: none;
}

.flag-tam
{
	width: 35px;
}


footer li:hover
{
	color: rgb(45, 182, 206);
}



.titulo
{
	columns: gray;
}

.redessociais
{
	text-align: right;
}

.redessociais img
{
	margin-left: 10px;
}

.cinzao
{
	color: gray;
	-webkit-text-stroke: 0.5px gray;
	font-size: 11.5px;
}

.cinzao li:hover
{
	color: gray;

}