<!-- Navigation -->
    <nav class="navbar inside-navbar-default navbar-fixed-top">
        <div id="navbarcontainer" class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#page-top">Inicio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#quemsomos">Quem Somos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#diretoria">Apoiadores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#patrocinadores">Patrocinadores</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" style="border-radius: 10px; margin: 10px;padding: 10px; font-weight: 700;" class="page-scroll btn btn-xl">Admin</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" style="border-radius: 10px;margin: 10px; padding: 10px;font-weight: 700;"class="page-scroll btn btn-xl">Sair</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

