<section id="perfil">
<div class="container">
        <div class="col-lg-8 col-lg-offset-2">
                <h1>Editar Informações de Cadastro</h1>
                <hr class="star-primary">
                <label>Nome:</label>
                <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Digite o Nome da Instituição *" id="name" required data-validation-required-message="Favor Informar o Nome da Instituição.">
                    <p class="help-block text-danger"></p>
                </div>
                <label>CPF/CNPJ:</label>
                <div class="control-group form-group">
                    <input type="text" class="form-control" placeholder="Digite Seu CPF/CNPJ *" id="doc" required data-validation-required-message="Favor Informar Seu Documento.">
                    <p class="help-block text-danger"></p>
                </div>
                <label>Tipo de Instituição:</label>
                <div style="margin: 10px">
                    <input type="radio" style="margin:10px" name="instituicao" value="instituicao"> Instituição Filantropica
                    <input type="radio" style="margin:10px" name="grupo" value="grupo"> Grupo Individual
                </div>
                <label>Tipos de Doação:</label>

                <div>
                    {% for doacao in site.doacao %}
                    <div class="col-md-4">
                        <label class="checkboxConteiner">{{ doacao.name }}
                            <input type="checkbox">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <button type="button" class="btn btn-success"><i class="fa fa-save"></i> Salvar </button>
            </div>
    </div>
</div>
</section>