<!-- Services Section -->
    <section id="tableCrud">
        <div class="container" >
            <h1 class="section-heading">Proximos Eventos</h1>
            <div class="uk-overflow-auto my-custom-scrollbar">
                <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                    <thead>
                    <tr>
                        <th class="uk-table-expand"><h3 class="section-subheading text-muted">Tipo</h3></th>
                        <th class="uk-table-small"><h3 class="section-subheading text-muted">Data</h3></th>
                        <th class="uk-table-small"><h3 class="section-subheading text-muted">Turno</h3></th>
                        <th class="uk-table-small"><h3 class="section-subheading text-muted">Região</h3></th>
                        <th class="uk-table-shrink"><h3 class="section-subheading text-muted">Visualizar</h3></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for evento in site.evento %}
                    <tr>
                        <td class="uk-text-truncate">{{evento.tipo}}</td>
                        <td class="uk-text-truncate">{{evento.data}}</td>
                        <td class="uk-text-truncate">{{evento.turno}}</td>
                        <td class="uk-text-truncate">{{evento.regiao}}</td>
                        <td>
                            <a href="#detalhes_evento" data-toggle="modal" style="border-radius: 10px; margin: 10px;padding: 10px; font-weight: 700;" class="page-scroll btn btn-xl"> detalhes </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div style="text-align: center;">
                <a href="#modal_evento" data-toggle="modal" style="border-radius: 10px; margin: 10px;padding: 10px; font-weight: 700;" class="page-scroll btn btn-xl"> Novo Evento </a>
            </div>
            </div>
        </div>
    </section>