<!--Lista estatica de telefones e links úteis-->
<section id="tableCrud">
    <div class="uk-container">
        <div class="uk-overflow-auto">
            <table class="uk-table uk-table-hover uk-table-middle uk-table-divider">
                <thead>
                    <tr>

                        <th class="uk-table-shrink"></th>
                        <th class="uk-table-expand">Nome</th>
                        <th class="uk-width-small">Site</th>
                        <th class="uk-table-expand">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="uk-preserve-width uk-border-circle" src="img/perfil.png" width="40" alt=""></td>
                        <td class="uk-text-reset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor.</td>
                        <td class="uk-table-link">
                            <a class="uk-link-nowrap"
                                href="">https://stackoverflow.com/questions/48304195/what-are-u-m-file-markers-in-visual-studio-code</a>
                        </td>
                        <td class="uk-text-nowrap">(99) 99999-9999</td>
                    </tr>

                    <tr>
                        <td><img class="uk-preserve-width uk-border-circle" src="img/perfil.png" width="40" alt=""></td>
                        <td class="uk-text-reset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor.</td>
                        <td class="uk-table-link">
                            <a class="uk-link-nowrap" href="">www.Lorem_ipsum.com</a>
                        </td>
                        <td class="uk-text-nowrap">(99) 99999-9999</td>
                    </tr>

                    <tr>
                        <td><img class="uk-preserve-width uk-border-circle" src="img/perfil.png" width="40" alt=""></td>
                        <td class="uk-text-reset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor.</td>
                        <td class="uk-table-link">
                            <a class="uk-link-nowrap" href="">www.Lorem_ipsum.com</a>
                        </td>
                        <td class="uk-text-nowrap">(99) 99999-9999</td>
                    </tr>

                    <tr>
                        <td><img class="uk-preserve-width uk-border-circle" src="img/perfil.png" width="40" alt=""></td>
                        <td class="uk-text-reset">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod
                            tempor.</td>
                        <td class="uk-table-link">
                            <a class="uk-link-nowrap" href="">www.Lorem_ipsum.com</a>
                        </td>
                        <td class="uk-text-nowrap">(99) 99999-9999</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>