 <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="login_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Logar</h2>
                            <hr class="star-primary">
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Digite Seu Usuario *" id="name" required data-validation-required-message="Favor Informar Seu Usuario.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group form-group">
                                <input type="password" class="form-control" placeholder="Digite Sua Senha*" id="password" required data-validation-required-message="Favor informar Sua Senha.">
                                <p class="help-block text-danger"></p>
                            </div>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-user"></i> Logar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
