 <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="registro_modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Registre-se</h2>
                            <hr class="star-primary">
                            <label>Email:</label>
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Digite Seu Usuario *" id="name" required data-validation-required-message="Favor Informar Seu Usuario.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <label>CPF/CNPJ:</label>
                            <div class="control-group form-group">
                                <input type="text" class="form-control" placeholder="Digite Seu CPF/CNPJ *" id="doc" required data-validation-required-message="Favor Informar Seu Documento.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div style="margin: 10px">
                            <input type="radio" style="margin:10px" name="instituicao" value="instituicao"> Instituição Filantropica
                            <input type="radio" style="margin:10px" name="grupo" value="grupo"> Grupo Individual
                            </div>
                            <label>Tipos de Doação:</label>

                            <div>
                                {% for doacao in site.doacao %}
                                <div class="col-md-4">
                                    <label class="checkboxConteiner">{{ doacao.name }}
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                                {% endfor %}
                            </div>

                            <label style="margin-top:20px ">Informe sua senha:</label>
                            <div class="control-group form-group">
                                <input type="password" class="form-control" placeholder="Digite Sua Senha*" id="password" required data-validation-required-message="Favor Informar Sua Senha.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <label>Confirme sua senha:</label>
                            <div class="control-group form-group">
                                <input type="password" class="form-control" placeholder="Digite Sua Senha*" id="password" required data-validation-required-message="Favor Confirmar Sua Senha.">
                                <p class="help-block text-danger"></p>
                            </div>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-user-plus"></i> Registrar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
