 <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="modal_evento" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <label>Tipo de Doação:</label>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    {% for doacao in site.doacao %}
                                    <option>{{doacao.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label>Região da Doação:</label>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    {% for regiao in site.regiao %}
                                    <option>{{regiao.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FSao_Paulo&amp;showNav=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
                            <label>Data da Doação:</label>
                            <form class="uk-form">
                                <input type="text" id="calendario" />
                            </form>
                            <label>Região da Doação:</label>
                            <div class="uk-margin">
                                <select class="uk-select">
                                    <option>Manhã</option>
                                    <option>Tarde</option>
                                    <option>Noite</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancelar</button>
                            <button type="button" class="btn btn-success"><i class="fa fa-save"></i> Criar Evento </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
