 <!-- Header -->
    <header id="titulos">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Unidos Para Ajudar a População em Situação de Rua</div>
                <div id="titulo1" class="intro-heading">Tome a Atitude!</div>
                <a href="#registro_modal" data-toggle="modal" style="border-radius: 10px; margin: 10px;padding: 10px; font-weight: 700;" class="page-scroll btn btn-xl">Quero Participar</a>
                <a href="#login_modal" data-toggle="modal" style="border-radius: 10px;margin: 10px; padding: 10px;font-weight: 700;"class="page-scroll btn btn-xl">Já Sou Doador</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

