<!-- Services Section -->
    <section id="patrocinadores">
        <div class="container" >
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Patrocinadores</h2>
                    <h3 class="section-subheading text-muted" style="margin-bottom: 20px;margin-top: 5px">Alguns dos Apoiadores e Doadores que fazem parte dessa história.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div uk-slider>
                    <ul class="uk-slider-items uk-child-width-1-6@s uk-child-width-1-4@">
                        {% for pat in site.pat %}
                        <li>
                            <a href="#">
                                <p class="text-muted">{{ pat.name }}</p>
                                <img src="{{ pat.img }}" class="img-responsive img-centered" alt="">
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    <img src="{{ site.baseurl }}/img/hand-move.svg" style="width: 40px;height: 40px; margin-top: 20px;color: gray"/>
                </div>
                <a href="#services" style="border-radius: 10px;"class="page-scroll btn btn-xl">Doe Aqui!</a>
            </div>
        </div>
    </section>